[server]
HOST = 0.0.0.0:8080

[db]
DEFAULT_DB_DSN = username:password@tcp(127.0.0.1:3306)/coral?charset=utf8
DEFAULT_DB_MAX_CONNECTION = 10
DEFAULT_DB_MAX_IDLE = 10

[log]
DEFAULT_LOG_PATH = /data/go
DEFAULT_LOG_MAX_NUMBER = 10
DEFAULT_LOG_MAX_SIZE = 1000000
DEFAULT_LOG_MAX_LEVEL = 6
DEFAULT_LOG_MIN_LEVEL = 0

[cache]
DEFAULT_REDIS_SERVER = 0.0.0.0:6379
DEFAULT_REDIS_AUTH =
DEFAULT_REDIS_MAX_CONNECTION = 10
DEFAULT_REDIS_MAX_IDLE = 10
